<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Conversations</h1>

    <% if @conversations.any? %>
      <%= link_to t("shared.scaffold.new.title", model: "Conversation"), new_conversation_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @conversations.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @conversations, :sender_id, "Sender", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @conversations, :recipient_id, "Recipient", class: "text-gray-700" %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20"><%= t("shared.scaffold.actions") %></th>
          </tr>
        </thead>

        <tbody>
        <% @conversations.each do |conversation| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= conversation.sender_id %></td>
                      <td class="p-3"><%= conversation.recipient_id %></td>
          
            <td>
              <%= link_to t("shared.scaffold.view"), conversation, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Conversation</p>
        <%= link_to t("shared.scaffold.new.title", model: "Conversation"), new_conversation_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
