


<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-0 sm:px-6 lg:px-8" style="margin-top:0px!important">
<div class="sm:mx-auto sm:w-full sm:max-w-md text-center">

<%#= csrf_meta_tags %>
<%#= csp_meta_tag %>



                  <%= link_to root_path, turbolinks: true, :class => ""   do %>
                  <%= image_tag("upfrica-com-logo-dark.png", alt: 'upfrica', class: " max-10 mx-auto  w-auto " ) %>
                  <% end %>




<h2 class="mt-3 text-center text-2xl leading-9  text-gray-900">
Welcome back, <%= @user.username.titleize %>
</h2>
<p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">

<a class="blk text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" >Almost there. Finish updating your account.</a>
</p>
</div>
<div class="mt-4 sm:mx-auto sm:w-full sm:max-w-md">
<div class="bg-white py-2 px-4 shadow sm:rounded-lg sm:px-10">



  <%#= form_with(model: resource, as: resource_name, url: registration_path(resource_name, invite: params[:invite])) do |f| %>
  


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%#= render "shared/error_messages", resource: resource %>

  <%#= simple_form_for(@user) do |f| %>

<!--div class="mt-2">
      <%#= f.label :first_name, "First name", class: "block text-sm font-medium leading-5 text-gray-700 mb-0" %>
     <div class="mt-1 rounded-md shadow-sm">
    <%#= f.text_field :first_name, autocomplete: "First name", required: true, placeholder: true, class: "mb-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
     </div>
</div>


<div class="mt-2">
      <%#= f.label :last_name, "Last name", class: "block text-sm font-medium leading-5 text-gray-700 mb-0" %>
     <div class="mt-1 rounded-md shadow-sm">
    <%#= f.text_field :last_name, autocomplete: "Last name", required: true, placeholder: true, class: "mb-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
     </div>
</div-->


<% if current_user.first_name.blank? || current_user.last_name.blank?  %>
<div class="row">


<div class="mt-2 col-md-12">
     
           <% if @user.username.blank? %> 
      <label class="block text-sm font-medium leading-5 text-gray-700 mb-0">Username &nbsp; <small style="color: #ff0000">*required</small></label>
      <% else %>
      <label class="block text-sm font-medium leading-5 text-gray-700 mb-0">Username</label>
      <% end %>
     <div class="mt-1 rounded-md shadow-sm">
    <%= f.text_field :username, value: @user.username, autocomplete: "Last name", required: true, placeholder: true, class: "mb-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
     </div>
</div>


<div class="mt-2 col-md-6">
      <% if @user.first_name.blank? %> 
      <label class="block text-sm font-medium leading-5 text-gray-700 mb-0">First name &nbsp; <small style="color: #ff0000">*required</small></label>
      <% else %>
      <label class="block text-sm font-medium leading-5 text-gray-700 mb-0">First name</label>
      <% end %>

     <div class="mt-1 rounded-md shadow-sm">
    <%= f.text_field :first_name, value: @user.first_name, autocomplete: "First name", required: true, placeholder: true, class: "mb-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
     </div>
</div>


<div class="mt-2 col-md-6">
     
           <% if @user.last_name.blank? %> 
      <label class="block text-sm font-medium leading-5 text-gray-700 mb-0">Last name &nbsp; <small style="color: #ff0000">*required</small></label>
      <% else %>
      <label class="block text-sm font-medium leading-5 text-gray-700 mb-0">Last name</label>
      <% end %>
     <div class="mt-1 rounded-md shadow-sm">
    <%= f.text_field :last_name, value: @user.last_name, autocomplete: "Last name", required: true, placeholder: true, class: "mb-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
     </div>
</div>

</div>

<% end %>













<div class="mt-3">


<span class="block w-full rounded-md shadow-sm">
<%= f.button 'Save', class: "mt-0 w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-upfrica-pple transition duration-150 ease-in-out" %>

</span>
</div>



<% end %>



<!--div class="mt-3">
<div class="relative">
<div class="absolute inset-0 flex items-center">
<div class="w-full border-t border-gray-300"></div>
</div>
<div class="relative flex justify-center text-sm leading-5">
<span class="px-2 bg-white text-gray-500">
Or continue with
</span>
</div>
</div>


<div class="mt-3">
<div>
<span class="w-full inline-flex rounded-md shadow-sm">
<a class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out" href="/users/auth/github">
<svg class="h-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
<path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd" />
</svg>
GitHub
</a> </span>
</div>
</div>


</div-->
</div>
</div>
</div>



