



<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <p>Price: <%= number_to_currency(product.price) if product.price %></p>
   by <%= product.user.username if product.user.username %><br>
      <%= link_to "Show this product", product %>
    </p>
    <hr>
  <% end %>
</div>






<div data-controller="hello"></div>

<%= link_to "New product", new_product_path %>
